
.FormRow{
  margin-top: 10px;
  .FormRowInput{
    border: solid 1px #e9e9e9;
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    color: #a5a5a5;
    font-family: Inter;
    &:focus{
      outline: none;
    }
  }
  .FormRowLabel{
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .FormRowCard{
    border: solid 1px #e9e9e9;
    height: 35px;
    display: block;
    width: 100%;
    padding: 6px 12px 0;
    border-radius: 5px;
  }
}

#alert-dialog-title{
  padding: 10px 20px 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}

.payment-btns-card{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  button{
    width: 70px;
    height: 30px;
    padding: 0;
  }
  button:first-child{
    background-color: #078089;
    color: white;
  }
}
