.label-wrapper {
  display: flex;
  justify-content: start;
  padding-top: 3px;

}
.DateInput_input_1{
  height: 40px !important;
}



.DateRangePicker div .DateRangePickerInput .DateInput {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}