.search_btn {
  width: 137px;
  height: 45px;
  left: 128px;
  top: 199px;
  margin-right: 16px;
  background: #9FCED1;
  border-radius: 3px;
  border: none;
  color: #078089;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.title-search {
  color: #6A6A6A;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-right: 16px;
}