.filter-price {
  margin-bottom: 10px;

  &-block {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Averta';
    font-weight: lighter;
    font-size: 18px;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      right: 20px;
      top: 46%;
      height: 10px;
      border-left: 1px solid #757373;
      border-bottom: 1px solid #757373;
      transform: translate(0, -50%) rotate(-45deg);
    }
  }

  &-name {
    margin-top: 4px;
  }

  .range-slider {
    position: absolute;
    z-index: 100;
    background: white;
    width: 245px;
    height: 158px;
    padding: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .range-slider__value-input {
    width: 87px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #dedddd;
    padding-left: 10px;
  }
  .range-slider__value_min {
    margin: 0;
    max-width: 87px;
  }

  .range-slider__value {
    max-width: 87px;
  }
}
