@import '../../../../index.scss';

.ddlWrapper .mult-select{
  width: 100%;
}
.create-place .form-control_cleaning-time {
    border: solid 1px #e9e9e9;
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    color: #a5a5a5;
    box-shadow: none;
    &:focus {
      border-color: inherit;
      box-shadow: none;
      outline: -webkit-focus-ring-color auto 1px;
    }
}

.create-place .form-block__form{
  .mult-select{
    border: solid 1px #e9e9e9;
    border-radius: 5px;
    height: 40px;
  }
  .venue{
    height: 40px;
    border: solid 1px #e9e9e9;
    border-radius: 5px;
  }
  .MuiSelect-select.MuiSelect-select{
    padding-left: 15px ;
  }
  .venue input{
    margin-top: 5px;
    padding-left: 15px !important;
  }
  .current-venue{
    background-color: #068188;
    color: white;
  }
}
.create-place{
  .ddlWrapper{
    padding-bottom: 19px;
  }
}

.MuiInput-underline:before{
  display: none;
}
.MuiInput-underline:after{
  display: none;
}

.MuiSelect-select:focus{
  background-color: initial;
}

.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover{
  background-color: #068188 !important;
  color: white;
}

.create-place{
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after{
    content: '';
    width: 9px;
    height: 8px;
    border-left: 1.5px solid #292929;
    border-bottom: 1.5px solid #292929;
    transform: rotate(135deg);
    display: block;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after{
    content: '';
    width: 9px;
    height: 8px;
    border-left: 1.5px solid #292929;
    border-bottom: 1.5px solid #292929;
    transform: rotate(-45deg);
    display: block;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .react-dropdown-tree-select .dropdown{
    width: 100%;
    .dropdown-trigger.arrow{
      width: 100%;
      border: solid 1px #e9e9e9;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
    .tag-list{
      width: 100%;
      .tag-item input{
        width: 100%;
      }
      .tag-item .search{
        border-bottom: none;
      }
    }
  }
}

.new-venue-type{
  padding: 20px 10px 0 10px;
  span{
    border-bottom: 1px solid black;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    &:hover{
      color: #068188;
      border-bottom: 1px solid #068188;
    }
  }
}

.MuiAutocomplete-option{
  div{
    width: 100%;
  }
}
.MuiAutocomplete-option .active{
  color: #068188;
  &:hover{
    color: white;
    background-color: initial;
  }
}