.input {
  display: flex;
  justify-content: start;
  padding-left: 15px;
  align-items: center;
  // width: 280px;
  height: 45px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin-bottom: 10px;
}
