.leftMenuListing {
  max-width: 247px;
}

.filtersWord {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #04d2ff;
}

.subtext {
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.6;
}
